#azul11, #azul12, #azul13 {background-color: blue;}
#yellow1{background-color: yellow;}
#gray11{ background-color: gray;}
#pink1{background-color: pink;}
#azul14 {background-color: lightblue;}

#azul11, #azul12, #azul13{display:inline-grid;}
@media only screen and (max-width: 480px) {
  #gray1{visibility: hidden;
  #pink1 {width: 60%;}
  #yellow1{width: 90%;}
  #gray12{visibility: hidden;}
  #azul11, #azul12, #azul13, #azul14 {display: grid;}
}

@media only screen and (max-width: 720px) {
  #pink1 {width: 60%}
  #yellow1{width: 90%}

  #gray11{ display: flex;
    width:auto;
    height:auto;
  position: }
  #azul11 ,#azul12{display:table-cell;}
  #azul11, #azul12, #azul13, #azul14 {display: grid;}
}

@media only screen and (max-width: 1140px) {
  #azul11, #azul12, #azul13, #azul14 {display: grid;}
}
